/* Nuestra hoja de estilos */

* { 
    margin: 0;
    padding: 0;
}

/* varibales globales */
:root {
    --color-primario: #e52326;
    --color-acentuado: rgb(241, 162, 14); 
    --azul: #003580;
    --blanco: #FFF;
    --negro: #000;
    --marron: peru;
    --verde: lime;
    --rosa: pink;
    --gris-claro: #f7f7f7;
    --gris-oscuro: #6f777b;
}

/* estilos a todas las etiquetas */

body {
    color: var(--negro);
    font-size: 1rem; /* 16px */
    line-height: 1.3rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    box-sizing: border-box;
}

h1 {   
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0;
    color: var(--blanco);
}

h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    color: var(--color-primario);
}

p {
    margin: 1rem 0;
}

a {
    text-decoration: none; /* quitar rayita de abajo al los enlaces */
    cursor: pointer;  /* cambiar icono de flecha a mano */
}

li {
    list-style: none;
}

header, main, footer {
    max-width: 1024px;
    margin: auto; /* centrar el contenido */
    box-sizing: border-box; /* si tenemos padding o border lo descuenta del ancho, no los suma*/
}

header {
    background-color: var(--negro);
    padding: 0.25rem;
}

main {
    background-color: var(--gris-claro);
    padding: 1rem;
}

.container-img {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
    display: flex;
    padding: 1rem;
    position: sticky;
    bottom: 0; 
}

footer section{
    width: 100%;  
}

nav#header {
    background-color: var(--color-primario);
    padding: 10px;
    position: sticky;
    top: 0;
}

nav#header a { 
    color: var(--negro);
}

nav#header ul {
    /* posicionar los LIs en horizontal y dividir el spacio */
    display: flex;
    justify-content: space-between;
}    

nav#header ul li {
    list-style: none; /* quitar puntito */    
    width: 100%;
    text-align: center;
    padding: 5px 0;
}   

nav#header ul li:hover {
    background-color: var(--color-acentuado);
}    

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-right{
    text-align: right;
}